<h1>New Contact</h1>

<%= form_with model: @contact do |form| %>
  <p>
    <%= form.label "first_name" %>
    <%= form.text_field "first_name" %>
    <%= form.label "last_name" %>
    <%= form.text_field "last_name" %>
  </p>
  <p>
    <%= form.label "email" %>
    <%= form.text_field "email" %>
    <%= form.label "phone_number" %>
    <%= form.text_field "phone_number" %>
  </p>
  <!-- So we can transfer state from the previous action to the next -->
  <%= form.hidden_field "company_id" %>
  <%= form.submit %>
<% end %>